<div class="itemContainer">
  <div class="nameContainer">
    <h1>{{student}}</h1>
  </div>
  <div class="gradeContainer">
    <div class="gradeBackground">
      <p><span>S</span> {{ exam ? exam : '-,-' }}</p>
    </div>

    <div class="gradeBackground">
      <p><span>M</span> {{ oral ? oral : '-,-' }}</p>
    </div>

    <div class="gradeBackground">
      <p><span>A</span> {{ other ? other : '-,-' }}</p>
    </div>

    <div class="gradeBackground">
      <p><span>Ø</span> {{ ges ? ges : '-,-' }}</p>
    </div>
  </div>

  <div class="btnContainer">
    <button class="button">></button>
  </div>
</div>
