.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.errorText {
  color: #777;
  text-align: center;
}

.itemContainer{
  display: flex;
  width: 90%;
  padding: 16px;
  align-items: center;
  justify-content: center;
  background: #0d3d3f;
  border: 1px solid #0d4d4f;
  border-radius: 15px;
  margin: 5px;
}

h1{
  text-align: center;
  color: #22e55c;
}

h2{
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.subjectContainer {
  display: flex;
  width: 90%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: #0d3d3f;
  border: 1px solid #0d4d4f;
  border-radius: 15px;
  margin: 5px;
  flex-direction: column;
}

.itemContainer:hover, .subjectContainer:hover{
  border: 1px solid #22e55c;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  flex-direction: row;
  width: 100%;
}

.addButton {
  background: none;
  border: none;
  color: #22e55c;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 10px;
}


.cardHeader h2 {
  margin: 0;
  color: #22e55c;
  font-size: 20px;
}
