.container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 16px;
  background: #0d3d3f;
  border-radius: 15px;

  margin-top: 10px;
}

.titleText {
  color: #22e55c;
  font-size: 20px;
  text-align: left;
}

.dateText {
  color: #777;
  text-align: right;
}
