<div class="container">
  <div class="header">
    <h1 class="heading">Students</h1>
    <button class="addButton" (click)="showAddAlert = true">+</button>
  </div>

  <div class="list" >
    <app-student-detail  *ngFor="let s of students" [student]="s.name" [className]="s.class" [birthday]="s.birthday" (click)="loadGradeOverwatch(s.name, s.class)"/>
  </div>

  <div class="alertOverlay" *ngIf="showAddAlert" (click)="showAddAlert = false">
    <div class="alertContainer" (click)="$event.stopPropagation()">
      <h1>Add a student</h1>
      <input placeholder="name" class="input" [(ngModel)]="newName">
      <div class="inputRow">
        <input placeholder="class" class="input" [(ngModel)]="newClass">
        <input placeholder="Birthday" class="input" [(ngModel)]="newBirthDay">
      </div>
      <button class="button" (click)="addStudent()">add</button>
    </div>
  </div>

  <div class="alertOverlay" *ngIf="overwatch" (click)="overwatch = false; grades = []">
    <div class="alertContainer" (click)="$event.stopPropagation()">
      <h1>Overwatch</h1>
      <div *ngFor="let g of grades">
        <app-grade-overview [subject]="g.subject" [grade]="g.grade"/>
      </div>
      <button (click)="generatePdf()" class="pdfButton">generate pdf</button>
    </div>
  </div>



    <div id="pdfContent" class="pdf" style="position:absolute; left:-9999px;">

    <h1>{{currentClass}} {{currentStudent}}</h1>

      <div class="pdfGrid">
        <p class="gridHeading">Subject</p>
        <p class="gridHeading">Grade</p>
      </div>

      <div class="pdfGrid"*ngFor="let g of grades">
        <p>{{g.subject}}</p>
        <p>{{g.grade}}</p>
      </div>


  </div>
</div>
