.container {
  display: flex;
  flex-direction: column;
  background: #0d1d1f;
  height: 100%;
  width: 100%;
  padding: 16px;
  overflow: hidden; /* ✅ kein Scroll */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  flex-direction: row;
}

.heading {
  color: #22e55c;
  align-self: center;
}

.addButton {
  color: #22e55c;
  font-size: 20px;
  background: none;
  border: none;
  position: absolute;
  right: 40px;
}

.alertOverlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertContainer{
  display: flex;
  background: #0d1d1f;
  border: 1px solid #0d2d2f;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* wichtig */
  width: 30vw;
  padding: 16px;
  gap: 10px;
}

.alertContainer h1{
  margin: 0;
  color: #22e55c;
  font-size: 25px;
  text-align: center;
}

.input {
  background: #0d2d2f;
  width: 100%;
  padding: 16px;
  border: 1px solid #0d3d3f;
  border-radius: 15px;
  color: #fff;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.button{
  background: #22e55c;
  width: 50%;
  padding: 16px;
  border: none;
  border-radius: 15px;
  color: #fff;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;

}

.pdfButton {
  background: #22e55c;
  width: 90%;
  padding: 16px;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-weight: bold;
  align-self: center;
}

.pdf{
  display: flex;
  flex-direction: column;
  width: 794px;
  min-height: 1000px;
  align-items: center;
  padding: 16px;
  position: relative;
}

.pdf h1 {
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.pdfGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 16px;
}

.gridHeading{
  font-weight: bold;
  text-decoration: underline;
}

.pdfGrid p {
  text-align: center;
  color: #000;
}

.pdfFooter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  justify-items: center; /* zentriert Inhalt in den Spalten */
  width: 100%;
  text-align: center;
}

.textOverline{
  border-top: 1px solid black;
  padding-top: 2px;
  width: 200px;
}
