.container {
  display: flex;
  flex-direction: column;
  background: #0d1d1f;
  height: 100%;
  width: 100%;
  padding: 16px;
  overflow: hidden;
}

.calendar-wrapper {
  width: 100%;
  height: 90vh;
}

.alertOverlay {
  position: fixed; /* fixiert im Viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000; /* hoch genug */
  display: flex;
  align-items: center;
  justify-content: center;
}

.alertContainer{
  display: flex;
  background: #0d1d1f;
  border: 1px solid #0d2d2f;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  padding: 16px;
  gap: 10px;
}

.alertContainer h1{
  margin: 0;
  color: #22e55c;
  font-size: 25px;
}

.alertContainer p{
  color: #fff;
}

.alertContainer input{
  border: none;
  background: #0d3d3f;
  color: #fff;
  width: 70%;
  padding: 16px;
  border-radius: 15px;
}

.alertContainer button{
  border: none;
  background: #22e55c;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
}
