<div class="container">
  <h1 class="heading">Dashboard</h1>
  <div class="grid_three">
    <div class="card">
      <h1 class="heading">Timetable</h1>
      <div *ngFor="let s of timetable">
        <app-timetable-item [subject]="s.subject" [start]="s.start" [end]="s.end" [className]="s.class"/>
      </div>
      <p *ngIf="timetable.length <= 0" class="errorText">no lessons</p>
    </div>
    <div class="card"></div>
    <div class="hGrid_two">
      <div class="card"></div>
      <div class="card"></div>
    </div>
  </div>
</div>
