<div class="container">
  <div class="header">
    <button class="backButton" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <h1 class="heading">{{student}}</h1>
    <button class="editButton" (click)="showEdit = true"><mat-icon>edit</mat-icon></button>
  </div>
  <h2 class="avrHeading">Ø{{avrGes}}</h2>
    <div class="layout">
        <div class="card">
          <div class="cardHeader">
            <h2>Schriftlich <span class="avrText">Ø{{avrExam}}</span></h2>
            <button class="addButton" (click)="type = 'exam'; showAdd = true">+</button>
          </div>
          <div *ngFor="let grade of exam">
            <app-grade-component
              [name]="grade.name"
              [grade]="grade.grade"
              (delete)="currentname = grade.name; deleteGrade()">
            </app-grade-component>
          </div>
          <p class="errorText" *ngIf="exam.length <= 0">no grades</p>

        </div>

        <div class="card">
          <div class="cardHeader">
            <h2>Mündlich <span class="avrText">Ø{{avrOral}}</span></h2>
            <button class="addButton" (click)="type = 'oral'; showAdd = true">+</button>
          </div>
          <div *ngFor="let grade of oral">
            <app-grade-component
              [name]="grade.name"
              [grade]="grade.grade"
              (delete)="currentname = grade.name; deleteGrade()">
            </app-grade-component>
          </div>
          <p class="errorText" *ngIf="oral.length <= 0">no grades</p>

        </div>

        <div class="card">
          <div class="cardHeader">
            <h2>Sonstiges <span class="avrText">Ø{{avrOther}}</span></h2>
            <button class="addButton" (click)="type = 'other'; showAdd = true">+</button>
          </div>
          <div *ngFor="let grade of other">
            <app-grade-component
              [name]="grade.name"
              [grade]="grade.grade"
              (delete)="currentname = grade.name; deleteGrade()">
            </app-grade-component>
          </div>
          <p class="errorText" *ngIf="other.length <= 0">no grades</p>

        </div>
    </div>


  <div class="alertOverlay" *ngIf="showAdd" (click)="showAdd = false">
    <div class="alertContainer" (click)="$event.stopPropagation()">
      <h1>Add a Grade</h1>

      <input
        class="input"
        placeholder="Grade name"
        [(ngModel)]="newName"
      />

      <input
        class="input"
        placeholder="grade"
        [(ngModel)]="newGrade"
      />

      <button
        type="button"
        class="button"
        (click)="addGrade(); $event.stopPropagation()">
        add
      </button>
    </div>
  </div>

  <div class="alertOverlay" *ngIf="showEdit" (click)="showEdit = false">
    <div class="alertContainer" (click)="$event.stopPropagation()">
      <h1>Edit the Weight</h1>
      <p>Total: {{totalWeight}}%</p>

      <div class="editRow">
        <button (click)="$event.stopPropagation(); subWeight('exam')">-</button>
        <p>exam: {{weightExam}}%</p>
        <button (click)="$event.stopPropagation(); adWeight('exam')">+</button>
      </div>

      <div class="editRow">
        <button (click)="$event.stopPropagation(); subWeight('oral')">-</button>
        <p>oral: {{weightOral}}%</p>
        <button (click)="$event.stopPropagation(); adWeight('oral')">+</button>
      </div>

      <div class="editRow">
        <button (click)="$event.stopPropagation(); subWeight('other')">-</button>
        <p>other: {{weightOther}}%</p>
        <button (click)="$event.stopPropagation(); adWeight('other')">+</button>
      </div>

      <button class="saveButton" (click)="finishEdit()">Finish</button>

    </div>
  </div>
</div>
